<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Title</title>
    <script>
      var username = $('#uname').val();
        var email = $('#email').val();
        var password = $('#pwd').val();

     $(document).ready(function(){
        $("#addUser").click(function(){
          var userData ={
            username : username,
            email : email,
            password : password
          };
          var requestJSON = JSON.stringify(userData);
          $.ajax({
            url: "/api/user/add",
            type : "POST",
            dataType : "json",
            data:requestJSON,
            success : function(data){
              alert(data);
            },
            error:function(data){
            }
          });
        });
     });
  </script>

</head>
<body>
  <div class="container">
    <form id="saveForm" action="">
      <div class="form-group">
        <label for="uname">Username:</label>
        <input type="text" class="form-control" id="uname" placeholder="Enter username" name="uname" required>
      </div>
      <div class="form-group">
        <label for="email">Username:</label>
        <input type="text" class="form-control" id="email" placeholder="Enter email" name="email" required>
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd" required>
      </div>
      <button type="submit" id="addUser" class="btn btn-primary">Submit</button>
    </form>
  </div>

</body>
</html>